@tailwind base;
@tailwind components;
@tailwind utilities;

/* Open Sans Font Faces */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/Light/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/Italic/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    @apply font-sans bg-gnome-dark text-white;
  }
}

@layer components {
  .titulo-seccion h4 {
    @apply text-3xl md:text-4xl font-bold text-center mb-8 text-white;
  }
}
