@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gnome-dark text-white;
  }
}

@layer components {
  .titulo-seccion h4 {
    @apply text-3xl md:text-4xl font-bold text-center mb-8 text-white;
  }
}
