---
// Header component
---

<header
  class="relative min-h-[400px] md:min-h-[600px] flex items-center justify-center overflow-hidden"
>
  <div class="absolute inset-0 bg-gradient-to-b from-black/70 to-gnome-dark/90 z-10"></div>
  <div
    id="background-img"
    class="absolute inset-0 bg-cover bg-center bg-no-repeat"
    style="background-image: url('/images/mystery-1527276296537-4729.jpg')"
  >
  </div>
  <img
    src="/images/logo_blanco.png"
    alt="BlackGnome"
    class="relative z-20 max-w-[300px] md:max-w-[500px] w-full h-auto px-4"
  />
</header>
